@media (max-width: 1080px) {
    body {
        background-image: url("https://youke1.picui.cn/s1/2025/07/18/687a6061d9088.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}


@media (min-width: 1080px) {
    body {
        width: 100%;
        height: 100%;
        background: url("https://pvzh1.giantapp.cn//upload/oTEi1wBinh3XEEZ67AJFY8OothyQ/wallpapers/687b8c4492d000f817ff9477/1752213132993_0Y4in.png") no-repeat center center fixed;
        background-size: 100%;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
}


.tm-0 {
    opacity: 0.92;
}

.tm-1 {
    opacity: 0.82;
}